a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_1775169f a { text-decoration: none; }
#menu_1775169f_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1775169f_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_1775169f_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1775169f_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1775169f_entry:hover span { color:#FFFFFF !important; }
		.menu_1775169f_mainMenuEntry { text-align: center; }
		.menu_1775169f_mainMenuEntry:hover {	background-color:#282828; }
		.menu_1775169f_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_1775169f .mobileEntry { display: none; } 
		#menu_1775169f .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_1775169f .mobileEntry { display: block; } 
			#menu_1775169f .normalEntry { display: none; } 
		}
#table_45b4f12f th { border: 1px solid #8C8C8C;  } 
#table_45b4f12f td { border: 1px solid #8C8C8C;  } 
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_4b99541d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_3069617d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_3069617d_padding { margin: 10px; display: block;  }
#container_2ed68a52 { vertical-align: top; position:relative; display: inline-block; width:58%; min-height:60px; background:none;  }
#container_2ed68a52_padding { margin: 10px; display: block;  }
#button_e130502 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:22pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_2b4e4854 { vertical-align: top; position:relative; display: inline-block; width:42%; min-height:60px; background:none;  }
#container_2b4e4854_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_1775169f { vertical-align: bottom; position:relative; display: inline-block; width:88px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:84px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#container_37d2a949 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_37d2a949_padding { margin: 10px; display: block;  }
#img_3987d456 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#container_2ac8f2e1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_2ac8f2e1_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_b3e58c { vertical-align: top; position:relative; display: inline-block; width:69%; min-height:391px; max-width:800px; background:none;  }
#container_b3e58c_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle10 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
#container_7e74dced { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_7e74dced_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:6pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_6b23164b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6b23164b_padding { margin: 10px; display: block;  }
#table_45b4f12f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:95%; height:179px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_1da514dc {  }
.textstyle12 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#cell_245b7800 {  }
#cell_1b6a49f6 {  }
#cell_3b156f2b {  }
#cell_b51dc63 {  }
#cell_5018d3fa {  }
#container_545c98f4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:251px; background-color:#F3F3F5;  }
#container_545c98f4_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_2905895e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_2905895e_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; line-height: 1.5;  }
#button_5b41d903 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 0px solid #404040;  }
.textstyle15 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
@media only screen and (max-width: 650px)
{
		#menu_1775169f { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_e130502 * span { font-size:12pt;  }
}
