a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3ca701ed a { text-decoration: none; }
#menu_3ca701ed_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3ca701ed_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_3ca701ed_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3ca701ed_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3ca701ed_entry:hover span { color:#FFFFFF !important; }
		.menu_3ca701ed_mainMenuEntry { text-align: center; }
		.menu_3ca701ed_mainMenuEntry:hover {	background-color:#282828; }
		.menu_3ca701ed_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3ca701ed .mobileEntry { display: none; } 
		#menu_3ca701ed .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_3ca701ed .mobileEntry { display: block; } 
			#menu_3ca701ed .normalEntry { display: none; } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_485b185d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_303403ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_303403ae_padding { margin: 10px; display: block;  }
#container_55a9f057 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_55a9f057_padding { margin: 10px; display: block;  }
#button_8b63d45 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:22pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_76372fca { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_76372fca_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_3ca701ed { vertical-align: bottom; position:relative; display: inline-block; width:88px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:84px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#img_42a8e7dd { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_4fecba6b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_4fecba6b_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1cce4da9 { vertical-align: top; position:relative; display: inline-block; width:69%; min-height:391px; max-width:800px; background:none;  }
#container_1cce4da9_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#4F4F4F; line-height: 1.5;  }
#container_b9b6ebc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_b9b6ebc_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:36pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#9E9E9E;  }
#container_d75b7d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_d75b7d1_padding { margin: 10px; display: block;  }
#container_7bb6723a { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_7bb6723a_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#button_215ce39e { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
.textstyle12 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_1f8f6b6c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_1f8f6b6c_padding { margin: 10px; display: block;  }
#button_5f4f2390 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:196px; height:43px; background-color:#C0C0C0;  }
#container_6f87498c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_6f87498c_padding { margin: 10px; display: block;  }
#button_3ff37bcc { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
.textstyle13 { font-size:36pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_6df79412 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:251px; background-color:#F3F3F5;  }
#container_6df79412_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_8a73aad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_8a73aad_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; line-height: 1.5;  }
#button_4c93732e { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 0px solid #404040;  }
.textstyle16 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
@media only screen and (max-width: 650px)
{
		#menu_3ca701ed { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_8b63d45 * span { font-size:12pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_7bb6723a { width:100%;  }
		#container_1f8f6b6c { width:100%;  }
		#container_6f87498c { width:100%;  }
}
