h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_392a1197 a { text-decoration: none; }
#menu_392a1197_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_392a1197_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_392a1197_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_392a1197_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_392a1197_entry:hover span { color:#FFFFFF !important; }
		.menu_392a1197_mainMenuEntry { text-align: center; }
		.menu_392a1197_mainMenuEntry:hover {	background-color:#282828; }
		.menu_392a1197_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_392a1197 .mobileEntry { display: none; } 
		#menu_392a1197 .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_392a1197 .mobileEntry { display: block; } 
			#menu_392a1197 .normalEntry { display: none; } 
		}
#menu_36889197 a { text-decoration: none; }
#menu_36889197_pane { background-color: #ECECEC; border: 1px solid #C0C0C0; padding-top: 10px; padding-bottom: 10px; border-radius: 9px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_36889197_hr { background-color: #C0C0C0; height: 1px; border: none; }
#menu_36889197_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_36889197_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_36889197_entry:hover span { color:#FFFFFF !important; }
		.menu_36889197_mainMenuEntry { text-align: center; }
		.menu_36889197_mainMenuEntry:hover {	background-color:#C0C0C0; }
		.menu_36889197_mainMenuEntry:hover span {	color:#343434 !important; }
		#menu_36889197 .mobileEntry { display: none; } 
		#menu_36889197 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_36889197 .mobileEntry { display: block; } 
			#menu_36889197 .normalEntry { display: none; } 
		}
#menu_61f69dfd a { text-decoration: none; }
#menu_61f69dfd_pane { background-color: #ECECEC; border: 1px solid #C0C0C0; padding-top: 10px; padding-bottom: 10px; border-radius: 9px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_61f69dfd_hr { background-color: #C0C0C0; height: 1px; border: none; }
#menu_61f69dfd_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_61f69dfd_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_61f69dfd_entry:hover span { color:#FFFFFF !important; }
		.menu_61f69dfd_mainMenuEntry { text-align: center; }
		.menu_61f69dfd_mainMenuEntry:hover {	background-color:#C0C0C0; }
		.menu_61f69dfd_mainMenuEntry:hover span {	color:#343434 !important; }
		#menu_61f69dfd .mobileEntry { display: none; } 
		#menu_61f69dfd .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_61f69dfd .mobileEntry { display: block; } 
			#menu_61f69dfd .normalEntry { display: none; } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6eb94f14 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_67f37397 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_67f37397_padding { margin: 10px; display: block;  }
#container_55deec52 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_55deec52_padding { margin: 10px; display: block;  }
#button_6ebb91ba { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:22pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_71ee6381 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_71ee6381_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_392a1197 { vertical-align: bottom; position:relative; display: inline-block; width:88px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:84px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#container_58660a36 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_58660a36_padding { margin: 10px; display: block;  }
#img_3bf9d50e { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#container_2c01960 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_2c01960_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_33e103c { vertical-align: top; position:relative; display: inline-block; width:69%; min-height:278px; max-width:800px; background:none;  }
#container_33e103c_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#4F4F4F; line-height: 1.5;  }
#container_f24fe68 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_f24fe68_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:6pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#9E9E9E;  }
.textstyle11 { font-size:6pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_7883ba7c { vertical-align: top; position:relative; display: inline-block; width:91%; min-height:170px; background:none;  }
#container_7883ba7c_padding { margin: 10px; display: block;  }
#container_2b37d698 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:57px; background:none;  }
#container_2b37d698_padding { margin: 10px; display: block;  }
#heading_27de8c33 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:22pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#2E2E2E; text-align:center; font-weight:bold;  }
.textstyle12 { text-align:justify; }
#container_343b5305 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_343b5305_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#button_e2685b5 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:196px; height:43px; background-color:#C0C0C0;  }
.textstyle14 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_69b3e802 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_69b3e802_padding { margin: 10px; display: block;  }
#button_77988867 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
#container_6dbc64e9 { vertical-align: top; position:relative; display: inline-block; width:91%; min-height:170px; background:none;  }
#container_6dbc64e9_padding { margin: 10px; display: block;  }
#container_5e5c8731 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:57px; background:none;  }
#container_5e5c8731_padding { margin: 10px; display: block;  }
#heading_c131272 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:22pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#2E2E2E; text-align:left; font-weight:bold;  }
#container_146acaae { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:36%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_146acaae_padding { margin: 10px; display: block;  }
#menu_36889197 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:56%; height:35px; text-align:left; background-color:#C0C0C0; background: linear-gradient(to bottom, #C0C0C0, #C0C0C0); border: 1px solid #A0A0A0;  }
.menustyle3 { position:absolute; width:140px; height:35px; left:10px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:20px;  }
.textstyle15 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle4 { position:absolute; width:148px; height:35px; left:10px;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle17 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  white-space: nowrap; }
#container_7b4eae35 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:23%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_7b4eae35_padding { margin: 10px; display: block;  }
#button_17187d9f { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
#container_23dd7d16 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:32%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_23dd7d16_padding { margin: 10px; display: block;  }
#menu_61f69dfd { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:42%; height:35px; text-align:left; background-color:#C0C0C0; background: linear-gradient(to bottom, #C0C0C0, #C0C0C0); border: 1px solid #A0A0A0;  }
.menustyle5 { position:absolute; width:83px; height:35px; left:10px;  }
#container_1a94120e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:209px; background-color:#F3F3F5;  }
#container_1a94120e_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_2d9c05f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_2d9c05f5_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; line-height: 1.5;  }
#button_6b6a73fc { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 0px solid #404040;  }
.textstyle20 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
@media only screen and (max-width: 650px)
{
		#menu_392a1197 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_6ebb91ba * span { font-size:12pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_343b5305 { width:100%;  }
		#container_69b3e802 { width:100%;  }
		#container_146acaae { width:100%;  }
		#container_7b4eae35 { width:100%;  }
		#container_23dd7d16 { width:100%;  }
}
