a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_392a1197 a { text-decoration: none; }
#menu_392a1197_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_392a1197_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_392a1197_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_392a1197_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_392a1197_entry:hover span { color:#FFFFFF !important; }
		.menu_392a1197_mainMenuEntry { text-align: center; }
		.menu_392a1197_mainMenuEntry:hover {	background-color:#282828; }
		.menu_392a1197_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_392a1197 .mobileEntry { display: none; } 
		#menu_392a1197 .normalEntry { display: block; } 
		@media only screen and (max-width:650px) { 
			#menu_392a1197 .mobileEntry { display: block; } 
			#menu_392a1197 .normalEntry { display: none; } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6eb94f14 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_67f37397 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_67f37397_padding { margin: 10px; display: block;  }
#container_55deec52 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_55deec52_padding { margin: 10px; display: block;  }
#button_6ebb91ba { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:22pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_71ee6381 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_71ee6381_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_392a1197 { vertical-align: bottom; position:relative; display: inline-block; width:88px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:84px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#container_58660a36 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_58660a36_padding { margin: 10px; display: block;  }
#img_3bf9d50e { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#container_2c01960 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_2c01960_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_33e103c { vertical-align: top; position:relative; display: inline-block; width:69%; min-height:278px; max-width:800px; background:none;  }
#container_33e103c_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#4F4F4F; line-height: 1.5;  }
#container_f24fe68 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_f24fe68_padding { margin: 10px; display: block;  }
#container_5be62602 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5be62602_padding { margin: 10px; display: block;  }
#container_2340760f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_2340760f_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:13pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#button_3072f033 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
.textstyle11 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_76da69f1 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_76da69f1_padding { margin: 10px; display: block;  }
#button_4d099a64 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
#container_6aca7d7 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_6aca7d7_padding { margin: 10px; display: block;  }
#button_33251acc { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
.textstyle12 { font-size:6pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#9E9E9E;  }
#container_ca04df8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_ca04df8_padding { margin: 10px; display: block;  }
#container_78f89fa5 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_78f89fa5_padding { margin: 10px; display: block;  }
#button_78252a9 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
#container_b131709 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_b131709_padding { margin: 10px; display: block;  }
#button_7944c2d2 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:196px; height:43px; background-color:#C0C0C0;  }
#container_6c5a1430 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none; border: 1px solid #404040;  }
#container_6c5a1430_padding { margin: 10px; display: block;  }
#button_52101eb7 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0;  }
.textstyle13 { font-size:6pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000;  }
#container_1a94120e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:251px; background-color:#F3F3F5;  }
#container_1a94120e_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_2d9c05f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_2d9c05f5_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; line-height: 1.5;  }
#button_6b6a73fc { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; border: 0px solid #404040;  }
.textstyle16 { font-size:12pt; font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
@media only screen and (max-width: 650px)
{
		#menu_392a1197 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_6ebb91ba * span { font-size:12pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_2340760f { width:100%;  }
		#container_76da69f1 { width:100%;  }
		#container_6aca7d7 { width:100%;  }
		#container_78f89fa5 { width:100%;  }
		#container_b131709 { width:100%;  }
		#container_6c5a1430 { width:100%;  }
}
